  .mainT {
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
    overflow-y: auto; 
    padding: 0;
    margin: 0; 
   }
   .mainTD{
    overflow-y: auto; 

   }
.mainD{
    height: 100%;
    width: 100%;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");

}

.testHeader{
    background-color: #00ffc8f6;
    width: 100%; 
    margin: 0;
    padding: 0; 
}

.selectedOptionE {
    background-color: #00ffc88e;
    color: #fff; 
  }

.opts {
    /* background-color: rgba(255, 94, 0, 0.747); */
    border-color: #00ffc88e;
}
.opts:hover {
    background-color: #00ffc88e; 
}
.alert{
    background-color: #00ffc8f6;
}


  