.HomePage {
    background-image: url('https://img.freepik.com/free-vector/blue-shiny-background_1378-145.jpg?semt=ais_user');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    height: 100vh;
    overflow:hidden;
}

.Card {
    background-color: #f5f5f5;
}

.card {
    background-color: #f8f7f765;
}

.displayIndex .card:hover {
    transform: scale(1.02);
  }
  
  .displayIndex .card:hover .btn-success {
    background-color: #28a745;
  }
  
  .displayIndex .btn-success {
    background-color: #218838;
    border-color: #218838;
  }
  
  .displayIndex .btn-success:hover {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .displayIndex {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.displayIndex::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
