.reportDiv {
    background-image: url('https://img.freepik.com/free-vector/watercolor-abstract-winter-background_23-2149147676.jpg?t=st=1721301875~exp=1721305475~hmac=f12f536bc0c5487f94ad085055c5682937a476f5edebd0d601493918f158878e&w=1380');
    background-size:cover;
    background-color: #b6bcbe;
    height: 100vh;
    padding-top: 10%;
}