
.custom-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .CoursePageInfo {
    /* background-image: url('https://img.freepik.com/free-vector/blue-polygonal-shapes-background_1053-434.jpg?t=st=1721707816~exp=1721711416~hmac=8c20d3a873572b9af56f8e7eda62dd4f1803434cce7afc9c1299900bcb7d274c&w=826'); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #E3F2FD !important; */
  }