 .courseCard{
  background-color: #E3F2FD !important;
}
.courseCard:hover{
  transform: scale(1.05);
  background-color: #E8F5E9 !important;
}
.datepicker-container {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  z-index: 1000; /* Ensure the datepicker is on top */
}
