.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table .tablehead{
  background-color: #7335B7; /* Header color */
  color: white; /* Header text color */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2; /* Light gray for alternate rows */
}

.table-hover tbody tr:hover {
  background-color: #a168e4; /* Light shade of the color on hover */
}

.disabled {
  pointer-events: none; /* Prevent clicking */
  opacity: 0.6; /* Dim the button */
}

/* Additional Styles */
.sidebar12 {
  position: relative;
  transition: width 0.3s;
}

.iconButton {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 32px;
}
