  .body {
    display: flex;
  }
  
  .body > div:nth-child(2) {
    width: 100%;
  }
  .Qn{
    font: bolder;
    color: #000000;
    font-size:x-large;
  }



  .testCases{
    color: #000000;
    /* background-color: #caaf95   ; */
  }
  .expectedOutput{
    color: #000000;
    background-color: #F5FAFB   ;

  }
  .curserDiv{
    padding: 0px 3px;
    cursor: col-resize;
    width: 0px;
    height: 93vh;
    margin-top: 4px;
    border-radius: 5px;
  }

  .MoveUPDown{
    margin: 3px;
    padding: 1px 0px;
    cursor: row-resize;
    height: 0px;
    background-color: rgb(158, 206, 218);
  }

  .MoveUPDown:hover {
    border-radius: 10px;
    background-color: #ffffff;
}

  .highlighted-btn {
    background-color: #07cdff; 
    color: black;
  }
  
  .sqlExerciseHeader{
    color: #000000;
    background-color: #c3e8ec;
    width: 100%; 
    margin: 0;
    padding: 0; 
  }

  .visited-question {
    background-color: #ffc107;
    animation: glowing 1.5s infinite;

  }
  
  .correct-answer {
    background-color: #28a745; 
  }
  
  .qns-bts.default { 
    background-color: #ffffff;
    color: #000000;
  }
  
  .qns-bts.visited { 
    background-color: #ffc107;
    color: #000;
  }
  
  .qns-bts.success { 
    background-color: #28a745;
    color: #fff;
  }
  
  .qns-bts.danger { 
    background-color: #dc3545;
    color: #fff;
  }
  

  .qns-bts.current { 
    background-color: #07ffff;
    animation: glowing 1.5s infinite;
    color: #000;
  }

@keyframes glowing {
  0% { box-shadow: 0 0 5px rgba(255, 0, 0, 0.4); }
  50% { box-shadow: 0 0 20px rgba(255, 0, 0, 0.7); }
  100% { box-shadow: 0 0 5px rgba(255, 0, 0, 0.4); }
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #000000;
  border: revert;
}


.nav-link {
  border-color: #000000;
  color: #000000;
}


.nav-pills .nav-link {
  border: revert;
  margin-right: 1px;
}
.nav{
  margin-bottom: -37px;

}



/* Height */
::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* custom-ace-editor.css */
.ace_dreamweaver .ace_gutter {
  background: #ffffff; 
  color: #333; 
}


.ace_dreamweaver .ace_gutter .ace_gutter-active-line {
  background: #ffffff; 
}

.ace-dreamweaver .ace_comment {
  color:#000000d1
}


.commPro {
  padding-top: 10px;
}

/* .mx-3 {
  margin-right: -5.5rem !important;
  margin-left: -5.5rem !important;
} */


/* 
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .1);
  padding-left: calc(var(--bs-gutter-x)* .1);
  margin-top: var(--bs-gutter-y);
  background-color: #f1f1f1;
} */